<div class="footer">
    <div class="block">
        <ul class="nav nv-footer" id="side-menu">
            <li class="follow">
                <a target="_blank" href="https://status.deevo.io/"><i class="fa fa-angle-double-right"></i> Network Status</a>
            </li>
            <li class="follow">
                <a target="_blank" href="https://insight.deevo.io/"><i class="fa fa-angle-double-right"></i> Blockchain Insight</a>
            </li>
            <li class="follow">
                <a target="_blank" href="https://benchmark.deevo.io/"><i class="fa fa-angle-double-right"></i> Benchmark</a>
            </li>
            
        </ul>
        <div class="siteseal">
            <li style="margin-top: 20px;text-align: center;list-style: none;">Version: 0.1</li>
            <span id="siteseal"><script async type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=APwHx6f9aAojOQjI925eo6hl1pi8B4tU6xw22RbONp0JrItxqzk78a5UyNip"></script></span>
        </div>
     </div>
</div>

<style>

.share-link {
    width: 251px;
    float: left;
    background-color: #f8f8f8;
    height: 100%;
    border-top: 1px solid #e7e7e7;
    border-right: 1px solid #e7e7e7;
}

.footer{
    width: 100%;
    position: absolute;
    background-color:  #ffff;
    height: 250px;
    /* margin-top: -200px; */
    z-index: 999999999;

}
.nv-footer{
    width: 251px;
    background-color: #f8f8f8;
    border-right: 1px solid #e7e7e7;
    height:auto;
}

li.follow {
    list-style: none;
    float: left;
    width:100%;
    border-bottom: 1px solid #e7e7e7;
}

.block {
    width: 251px;
    float: left;
    padding: 0px 0px;
    margin: 0;
    background-color: #f8f8f8;
    border-right: 1px solid #e7e7e7;
    height: 100%;
}

/* <!-- 
li.menu-cap2 {
    padding-left: 15px;
}

li.menu-cap3 {
    padding-left: 35px;
}
li.menu-cap4 {
    padding-left: 50px;
} --> */
.siteseal {
    text-align: center;
}
.siteseal li {
    margin-bottom: 10px;
}
</style>