<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
                </div>
                <!-- /input-group -->
            </li>
            <li>
                <a href="/dashboard"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
            </li>
            <li>
                <a href="/organization"><i class="fa fa-sitemap"></i> Organization</a>
            </li>
            <li>
                <a href="/party"><i class="fa fa-flag"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Party</a>
            </li>
            <li>
                <a href="/location"><i class="fa fa-map-marker"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Location</a>
            </li>
            <li>
                <a href="/product"><i class="fa fa-dropbox"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Product</a>
            </li>
            <li>
                <a href="/asset"><i class="fa fa-chain"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Asset</a>
            </li>

            <li>
                <a href="/log"><i class="fa fa-paper-plane-o"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Logistic Unit</a>
            </li>
            <li>
                <a href="/auditor"><i class="fa fa-users"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Auditor</a>
            </li>
            <li>
                <a href="/audit-action"><i class="fa  fa-check-square-o"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Action</a>
            </li>

            <li>
                <a href="/supply-chain"><i class="glyphicon glyphicon-link"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Supply Chain Model</a>
            </li>	            

          </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->
