<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <a href="/dashboard"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
            </li>
            <li class="menu-cap1">
                <a href="/view-history"><i class="fa fa-search"></i> Search Product</a>
            </li>
            <li class="menu-cap1">
                <a href="/organization"><i class="fa fa-sitemap"></i> Organization</a>
            </li>
            <li class="menu-cap2">
                <a href="/party"><i class="fa fa-flag"></i> Party</a>
            </li>
            <li class="menu-cap3">
                <a href="/location"><i class="fa fa-map-marker"></i> Location</a>
            </li>
            <li class="menu-cap4">
                <a href="/product"><i class="fa fa-dropbox"></i> Product</a>
            </li>
            <li class="menu-cap4">
                <a href="/asset"><i class="fa fa-chain"></i> Asset</a>
            </li>
            <li class="menu-cap4">
                <a href="/logistic"><i class="fa fa-paper-plane-o"></i> Logistic</a>
            </li>
            <li class="menu-cap2">
                <a href="/auditor"><i class="fa fa-users"></i> Auditor</a>
            </li>
            <li class="menu-cap2">
                <a href="/audit-action"><i class="fa  fa-check-square-o"></i> Action</a>
            </li>
            <li class="menu-cap2">
                <a href="/supply-chain"><i class="glyphicon glyphicon-link"></i> Supply Chain Model</a>
            </li>	            

            <li>
                <a href="#"><i class="fa fa-desktop"></i> Supply Chain Monitoring</a>
            </li>
            <li class="menu-cap2">
                <a href="/log"><i class="fa fa-th"></i> CTE Log</a>
            </li>
            <li  class="menu-cap2">
                <a href="#"><i class="fa fa-sitemap fa-fw"></i> Farm & Orchard<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="/log/plant">Plant (tree)</a>
                    </li>
                    <li>
                        <a href="/log/water">Take Care (of tree): Water</a>
                    </li>
                    <li>
                        <a href="/log/fertilize">Take Care (of tree): Fertilize</a>
                    </li>
                    <li>
                        <a href="/log/harvest">Harvest</a>
                    </li>
                    <li>
                        <a href="/log/receive">Receive</a>
                    </li>
                    <li>
                        <a href="/log/store">Store</a>
                    </li>
                    <li>
                        <a href="/log/deliver">Deliver</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="/permission"><i class="fa fa-sort-amount-asc"></i> Permission</a>
            </li>
            <li>
                <a href="/general-log?role=Supplier&eventName=Receive"><i class="fa fa-sort-amount-asc"></i> Receive</a>
            </li>
            <li>
                <a href="/general-log?role=Supplier&eventName=Store"><i class="fa fa-sort-amount-asc"></i> Store</a>
            </li>
          </ul>
    </div>
    
    <!-- /.sidebar-collapse -->
</div>

<!-- /.navbar-static-side -->
<style>
.navbar-default.sidebar{
    margin-top: 70px !important;
}

li.menu-cap2 {
    padding-left: 15px;
}

li.menu-cap3 {
    padding-left: 35px;
}
li.menu-cap4 {
    padding-left: 50px;
}
</style>