
<div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li>
                    <a href="/dashboard"><i class="fa fa-tachometer-alt"></i> General</a>
                </li>
                <li class="menu-cap1 searchpd">
                    <a href="/view-history"><i class="fa fa-search"></i> Search Product</a>
                </li>
                <li class="menu-cap1 Org">
                    <a href="/organization"><i class="fa fa-sitemap"></i> Organization</a>
                </li>
                <li class="menu-cap2 Org">
                    <a href="/party"><i class="fa fa-puzzle-piece"></i> Company (Party)</a>
                </li>
                <li class="menu-cap3 Org">
                    <a href="/location"><i class="fa fa-map-marker"></i> Location</a>
                </li>
                <li class="menu-cap4 Org">
                    <a href="/product"><i class="fas fa-boxes"></i> Product</a>
                </li>
                <li class="menu-cap4 Org">
                    <a href="/asset"><i class="fas fa-tractor"></i> Asset</a>
                </li>
                <li class="menu-cap4 Org">
                    <a href="/logistic"><i class="fas fa-box"></i> Logistic Unit</a>
                </li>
                <li class="menu-cap2 Org">
                    <a href="/auditor"><i class="fa fa-users"></i> Auditor</a>
                </li>
                <li class="menu-cap2 Org">
                    <a href="/audit-action"><i class="fas fa-layer-group"></i> Action</a>
                </li>
                <li class="menu-cap2 Org">
                    <a href="/supply-chain"><i class="glyphicon glyphicon-link"></i> Supply Chain Model</a>
                </li>	            
                <li class="menu-cap2 Org">
                    <a href="/permission"><i class="fa fa-user-lock"></i> Permission</a>
                </li>
                <li class="Monitor">
                    <a href="#"><i class="fa fa-desktop"></i> Supply Chain Monitoring</a>
                </li>
                <li class="menu-cap2 Monitor">
                    <a href="/log"><i class="fa fa-code-branch"></i> Event Records</a>
                </li>
                <li  class="menu-cap2 Monitor">
                    <a href="#"><i class="fa fa-sitemap fa-fw"></i> Farm & Orchard<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/general-log?role=Farm and Orchard&eventName=Plant (tree)"><i class="fa fa-tree"></i> Plant (tree)</a>
                        </li>
                        <li>
                            <a href="/general-log?role=Farm and Orchard&eventName=Take Care (of tree): Water"><i class="fa fa-shower"></i> Water</a>
                        </li>
                        <li>
                            <a href="/general-log?role=Farm and Orchard&eventName=Take Care (of tree): Fertilize"><i class="fa fa-fire-extinguisher"></i> Fertilize</a>
                        </li>
                        <li>
                            <a href="/general-log?role=Farm and Orchard&eventName=Harvest"><i class="fa fa-scissors"></i> Harvest</a>
                        </li>
                        <li>
                            <a href="/general-log?role=Farm and Orchard&eventName=Receive"><i class="fa fa-american-sign-language-interpreting"></i> Receive</a>
                        </li>
                        <li>
                            <a href="/general-log?role=Farm and Orchard&eventName=Store"><i class="fa fa-database"></i> Store</a>
                        </li>
                        <li>
                            <a href="/general-log?role=Farm and Orchard&eventName=Deliver"><i class="fa fa-truck"></i> Deliver</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                <!-- Supplier -->
                <li  class="menu-cap2 Monitor">
                    <a href="#"><i class="fa fa-users"></i><span class="fa arrow"></span> Supplier</a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/general-log?role=Supplier&eventName=Receive"><i class="fa fa-sort-amount-asc"></i> Receive</a>
                        </li>
                        <li>
                            <a href="/general-log?role=Supplier&eventName=Store"><i class="fa fa-database"></i> Store</a>
                        </li>
                        <li>
                            <a href="/general-log?role=Supplier&eventName=Deliver"><i class="fa fa-truck"></i> Deliver</a>
                        </li>
                        <li>
                            <a href="/general-log?role=Supplier&eventName=Purchase"><i class="fa fa-shopping-cart"></i> Purchase</a>
                        </li>
                        <li>
                            <a href="/general-log?role=Supplier&eventName=Transport"><i class="fa fa-ship"></i> Transport</a>
                        </li>
                    </ul>
                </li>
                <!-- Manufacturer -->
                <li  class="menu-cap2 Monitor">
                    <a href="#"><i class="fa fa-industry"></i><span class="fa arrow"></span> Manufacturer</a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/general-log?role=Manufacturer&eventName=Receive"><i class="fa fa-sort-amount-asc"></i> Receive</a>
                        </li>
                        <li>
                            <a href="/general-log?role=Manufacturer&eventName=Store"><i class="fa fa-database"></i>Store</a>
                        </li>
                        <li>
                            <a href="/general-log?role=Manufacturer&eventName=Deliver"><i class="fa fa-truck"></i> Deliver</a>
                        </li>
                        <li>
                            <a href="/general-log?role=Manufacturer&eventName=Purchase"><i class="fa fa-shopping-cart"></i> Purchase</a>
                        </li>
                        <!-- Pack -->
                        <li>
                            <a href="#"><i class="fa fa-cubes"></i><span class="fa arrow"></span> Pack (Dried product of ATF)</a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/general-log?role=Manufacturer&eventName=Packing (sachet)"><i class="fa fa-archive"></i> Packing (sachet)</a>
                                </li>
                                <li>
                                    <a href="/general-log?role=Manufacturer&eventName=Packing (die-cut bag)"><i class="fa fa-cube"></i> Packing (die-cut bag)</a>
                                </li>
                                <li>
                                    <a href="/general-log?role=Manufacturer&eventName=Packing (dozen bag)"><i class="fa fa-shopping-bag"></i> Packing (dozen bag)</a>
                                </li>
                                <li>
                                    <a href="/general-log?role=Manufacturer&eventName=Packing (carton)"><i class="fa fa-archive"></i> Packing (carton)</a>
                                </li>
                            </ul>
                        </li>
                            <!-- Produce/Process -->
                        <li>
                            <a href="#"><i class="fa fa-wrench"></i><span class="fa arrow"></span> Produce/Process</a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/general-log?role=Produce/Process&eventName=Produce"><i class="fa fa-wrench"></i> Produce</a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-gift"></i><span class="fa arrow"></span> Natural Mango Dried Product</a>
                                    <ul class="nav nav-second-level">
                                        <li>
                                            <a href="/general-log?role=Produce/Process&eventName=Produce"><i class="fa fa-sort-amount-asc"></i> Cleaning</a>
                                        </li>
                                        <li>
                                            <a href="/general-log?role=Produce/Process&eventName=Packing (die-cut bag)"><i class="fa fa-sort-amount-asc"></i> Pealing</a>
                                        </li>
                                        <li>
                                            <a href="/general-log?role=Produce/Process&eventName=Packing (dozen bag)"><i class="fa fa-sort-amount-asc"></i> Dipping #1</a>
                                        </li>
                                        <li>
                                            <a href="/general-log?role=Produce/Process&eventName=Packing (carton)"><i class="fa fa-sort-amount-asc"></i> Chipping</a>
                                        </li>
                                        <li>
                                            <a href="/general-log?role=Produce/Process&eventName=Packing (carton)"><i class="fa fa-sort-amount-asc"></i> Dipping #2</a>
                                        </li>
                                        <li>
                                            <a href="/general-log?role=Produce/Process&eventName=Packing (carton)"><i class="fa fa-sort-amount-asc"></i> Sorting Out</a>
                                        </li>
                                        <li>
                                            <a href="/general-log?role=Produce/Process&eventName=Packing (carton)"><i class="fa fa-sort-amount-asc"></i> Mix With Icing</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                <!-- Distributor -->
                <li  class="menu-cap2 Monitor">
                    <a href="#"><i class="fa fa-truck"></i><span class="fa arrow"></span> Distributor</a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/general-log?role=Distributor&eventName=Receive"><i class="fa fa-sort-amount-asc"></i> Receive</a>
                        </li>
                        <li>
                            <a href="/general-log?role=Distributor&eventName=Store"><i class="fa fa-database"></i> Store</a>
                        </li>
                        <li>
                            <a href="/general-log?role=Distributor&eventName=Deliver"><i class="fa fa-truck"></i> Deliver</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                 <!-- Retailer -->
                 <li  class="menu-cap2 Monitor">
                    <a href="#"><i class="fa fa-female"></i><span class="fa arrow"></span> Retailer</a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/general-log?role=Retailer&eventName=Receive"><i class="fa fa-sort-amount-asc"></i> Receive</a>
                        </li>
                        <li>
                            <a href="/general-log?role=Retailer&eventName=Store"><i class="fa fa-database"></i> Store</a>
                        </li>
                        <li>
                            <a href="/general-log?role=Retailer&eventName=Deliver"><i class="fa fa-truck"></i> Deliver</a>
                        </li>
                        <li>
                            <a href="/general-log?role=Retailer&eventName=Purchase"><i class="fa fa-shopping-cart"></i> Purchase</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                <!-- Auditor -->
                <li  class="menu-cap2 Monitor">
                    <a href="#"><i class="fa fa-male"></i><span class="fa arrow"></span> Auditor</a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/general-log?role=Auditor&eventName=Inspect"><i class="fa fa-search"></i> Inspect</a>
                        </li>
                        <li>
                            <a href="/general-log?role=Auditor&eventName=Approve"><i class="fa fa-check-square"></i> Approve</a>
                        </li>
                        <li>
                            <a href="/general-log?role=Auditor&eventName=Certify"><i class="fa fa-star"></i> Certify</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>

              </ul>
        </div>
        
        <!-- /.sidebar-collapse -->
    </div>
    <script  type="text/javascript" language="javascript">
    
    </script>
    <!-- /.navbar-static-side -->
    <style>
    li.Org {
        background-color: #cedfe3 !important;
    }
    li.searchpd {
        background-color: #d5f0d2 !important;
    }
    li.Monitor{
        background-color: #fcfac7 !important;
    }
    .navbar-default.sidebar{
        margin-top: 101px !important;
    }
    
    li.menu-cap2 {
        padding-left: 15px;
    }
    
    li.menu-cap3 {
        padding-left: 35px;
    }
    li.menu-cap4 {
        padding-left: 50px;
    }
    </style>