<%layout('/layout')%> 

<style>


/* .mytable {
  table-layout: fixed;
  width: 100%;
  white-space: nowrap;
}
/* Column widths are based on these cells */
/* .td-id {
  width: 10%;
}
.td-name {
  width: 15%;
}
.td-obj {
  width: 10%;
}
.td-parent {
  width: 10%;
}
.td-content {
  width: 48%;
}
.td-action {
  width: 7%;
}
.mytable td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mytable td,
.mytable th {
  text-align: left;
  padding: 5px 10px;
  white-space: initial;
  word-wrap:break-word;
} */ 

.table>thead>tr>th {
    border-left: 2px solid #ddd;
    border-right: 2px solid #ddd;
}

input[type="checkbox"] {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.select-parent{
    width: 100%;
}


th.co-th.mybutton {
    padding: 0 3px;
}

.box-co{
	border-radius: 1px; 
}

th.co-th {
    border: none !important;
}
.modal-dialog{
    width: 100em;
}

.title-group{
    text-align: center;
    font-size: 18px;
}
.group-1{
    width: 20%;
    padding: 5px 5px;
    float: left;
}

.group-2 {
    width: 80%;
    float: left;
    padding: 5px 5px;
}

.modal-body {
   overflow-y: auto;
}

#myDIV  {
    overflow-y: scroll;
    height: 550px;
}

.table-responsive {
    width: 100%;
}
.search{
    width: 30%;
    float: right;
}
.btn {
    padding: 6px 20px;
}
.btn-edit{
        padding: 6px 1px;
        width: 60px;
}
textarea {
    resize: none;
}
th{
    vertical-align: middle !important;
    font-weight: normal !important;
}
.row-title{
    font-weight: bold !important;
}
.col-action{
    width: 20px;
}
</style>



<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">PERMISSION</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>  
    <% if ( message && status== 1 ) { %>
        <div class="alert alert-success">
            <%= message %>
        </div>    
    <% }%>
    <% if ( message && status== 2 ) { %>
        <div class="alert alert-danger">
            <%= message %>
        </div>   
    <%} %>
    <div class="row">
        <div class="col-lg-12">
            <div class="table-responsive">
                <table class="table mytable">  
                    <thead>
                        <tr>
                            <th class="row-title" style="text-align: center; width: 20%;" colspan="3">Party Name <i class="fa fa-angle-double-right"></i></th>
                            <th class="row-title" style="text-align: center; width: 10%;">Farm / Orchard</th>
                            <th class="row-title" style="text-align: center; width: 10%;">Supplier</th>
                            <th class="row-title" style="text-align: center; width: 10%;">Manufacturer</th>
                            <th class="row-title" style="text-align: center; width: 10%;" >Distributor/Trader</th>
                            <th class="row-title" style="text-align: center; width: 10%;">Retailer</th>
                            <th class="row-title" style="text-align: center; width: 10%;">Consumer</th>
                            <th class="row-title" style="text-align: center; width: 20%;">Auditor/Endorser/Arbitrator</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Grow</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>                           
                        </tr> 
                        <tr>
                            <th></th>
                            <th>Plant</th>
                            <th></th>
                            <th><input type="checkbox" name="checkbok" checked></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                           
                        </tr> 
                        <tr>
                            <th></th>
                            <th colspan="2">Take Care (of tree)</th>
                            <th></th>
                            <th><input type="checkbox" name="checkbok" checked></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            
                        </tr> 
                        <tr>
                            <th></th>
                            <th></th>
                            <th>Water</th>
                            <th><input type="checkbox" name="checkbok" checked></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            
                        </tr> 
                        <tr>
                            <th></th>
                            <th></th>
                            <th>Fertilize</th>
                            <th><input type="checkbox" name="checkbok" checked></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            
                        </tr> 
                        <tr>
                            <th></th>
                            <th></th>
                            <th>Cultivate</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            
                        </tr> 
                        <tr>
                            <th>Harvest</th>
                            <th></th>
                            <th></th>
                            <th><input type="checkbox" name="checkbok" checked></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            
                        </tr> 
                        <tr>
                            <th>Pack</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            
                        </tr> 
                        <tr>
                            <th></th>
                            <th>Pack</th>
                            <th></th>
                            <th><input type="checkbox" name="checkbok" checked></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            
                        </tr> 
                        <tr>
                            <th></th>
                            <th>Unpack</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            
                        </tr> 
                        <tr>
                            <th></th>
                            <th>Repack</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            
                        </tr> 
                        <tr>
                            <th></th>
                            <th colspan="2">Pack (Dried Product Of ATF)</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th><input type="checkbox" name="checkbok" checked></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                           
                        </tr> 
                        <tr>
                            <th></th>
                            <th></th>
                            <th>Packing (sachet)</th>
                            <th></th>
                            <th></th>
                            <th><input type="checkbox" name="checkbok" checked></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            
                        </tr> 
                        <tr>
                            <th></th>
                            <th></th>
                            <th>Packing (die-cut bag)</th>
                            <th></th>
                            <th></th>
                            <th><input type="checkbox" name="checkbok" checked></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                           
                        </tr> 
                        <tr>
                            <th></th>
                            <th></th>
                            <th>Packing (dozen bag)</th>
                            <th></th>
                            <th></th>
                            <th><input type="checkbox" name="checkbok" checked></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            
                        </tr> 
                        <tr>
                            <th></th>
                            <th></th>
                            <th>Packing (carton)</th>
                            <th></th>
                            <th></th>
                            <th><input type="checkbox" name="checkbok" checked></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            
                        </tr> 
                        <tr>
                            <th>Receive</th>
                            <th></th>
                            <th></th>
                            <th><input type="checkbox" name="checkbok" checked></th>
                            <th><input type="checkbox" name="checkbok" checked></th>
                            <th><input type="checkbox" name="checkbok" checked></th>
                            <th><input type="checkbox" name="checkbok" checked></th>
                            <th><input type="checkbox" name="checkbok" checked></th>
                            <th></th>
                            <th></th>
                           
                        </tr> 
                        <tr>
                            <th></th>
                            <th>Aggregate</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                           
                        </tr> 
                        <tr>
                            <th></th>
                            <th>Import</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                           
                        </tr> 
                        <tr>
                            <th>Store</th>
                            <th></th>
                            <th></th>
                            <th><input type="checkbox" name="checkbok" checked></th>
                            <th><input type="checkbox" name="checkbok" checked></th>
                            <th><input type="checkbox" name="checkbok" checked></th>
                            <th><input type="checkbox" name="checkbok" checked></th>
                            <th><input type="checkbox" name="checkbok" checked></th>
                            <th></th>
                            <th></th>
                            
                        </tr> 
                        <tr>
                            <th>Deliver</th>
                            <th></th>
                            <th></th>
                            <th><input type="checkbox" name="checkbok" checked></th>
                            <th><input type="checkbox" name="checkbok" checked></th>
                            <th><input type="checkbox" name="checkbok" checked></th>
                            <th><input type="checkbox" name="checkbok" checked></th>
                            <th><input type="checkbox" name="checkbok" checked></th>
                            <th></th>
                            <th></th>
                           
                        </tr> 
                        <tr>
                            <th></th>
                            <th>Export</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            
                        </tr> 
                        <tr>
                            <th></th>
                            <th>Distribute</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            
                        </tr> 
                        <tr>
                            <th></th>
                            <th>Provide</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr> 
                        <tr>
                            <th>Purchase</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th><input type="checkbox" name="checkbok" checked></th>
                            <th><input type="checkbox" name="checkbok" checked></th>
                            <th><input type="checkbox" name="checkbok" checked></th>
                            <th><input type="checkbox" name="checkbok" checked></th>
                            <th><input type="checkbox" name="checkbok" checked></th>
                            <th></th>
                            
                        </tr> 
                        <tr>
                            <th></th>
                            <th>Sell</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            
                        </tr> 
                        <tr>
                            <th></th>
                            <th>Buy</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            
                        </tr> 
                        <tr>
                            <th></th>
                            <th>Order</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            
                        </tr> 
                        <tr>
                            <th>Produce/ Process</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            
                        </tr> 
                        <tr>
                            <th></th>
                            <th>Prepare</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            
                        </tr> 
                        <tr>
                            <th></th>
                            <th>Adjust</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            
                        </tr> 
                        <tr>
                            <th></th>
                            <th>Convert</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            
                        </tr> 
                        <tr>
                            <th></th>
                            <th>Produce</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            
                        </tr> 
                        <tr>
                            <th></th>
                            <th colspan="2">Natural Mango Dried Product</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th><input type="checkbox" name="checkbok" checked></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            
                        </tr> 
                        <tr>
                            <th></th>
                            <th></th>
                            <th>Cleaning</th>
                            <th></th>
                            <th></th>
                            <th><input type="checkbox" name="checkbok" checked></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                                
                         </tr> 
                        <tr>
                            <th></th>
                            <th></th>
                            <th>Pealing</th>
                            <th></th>
                            <th></th>
                            <th><input type="checkbox" name="checkbok" checked></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            
                        </tr> 
                        <tr>
                            <th></th>
                            <th></th>
                            <th>Dipping #1</th>
                            <th></th>
                            <th></th>
                            <th><input type="checkbox" name="checkbok" checked></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                                
                        </tr> 
                        <tr>
                            <th></th>
                            <th></th>
                            <th>Chipping</th>
                            <th></th>
                            <th></th>
                            <th><input type="checkbox" name="checkbok" checked></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            
                        </tr> 
                        <tr>
                            <th></th>
                            <th></th>
                            <th>Dipping #2</th>
                            <th></th>
                            <th></th>
                            <th><input type="checkbox" name="checkbok" checked></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            
                        </tr> 
                        <tr>
                            <th></th>
                            <th></th>
                            <th>Drying</th>
                            <th></th>
                            <th></th>
                            <th><input type="checkbox" name="checkbok" checked></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            
                        </tr> 
                        <tr>
                            <th></th>
                            <th></th>
                            <th>Sorting Out</th>
                            <th></th>
                            <th></th>
                            <th><input type="checkbox" name="checkbok" checked></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            
                        </tr> 
                        <tr>
                            <th></th>
                            <th></th>
                            <th>Mix With Icing</th>
                            <th></th>
                            <th></th>
                            <th><input type="checkbox" name="checkbok" checked></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            
                        </tr> 
                        <tr>
                            <th></th>
                            <th colspan="2">Low Sugar Mango Dried Product</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th><input type="checkbox" name="checkbok" checked></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            
                        </tr> 
                            <tr>
                                <th></th>
                                <th></th>
                                <th>Cleaning</th>
                                <th></th>
                                <th></th>
                                <th><input type="checkbox" name="checkbok" checked></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                    
                             </tr> 
                            <tr>
                                <th></th>
                                <th></th>
                                <th>Pealing</th>
                                <th></th>
                                <th></th>
                                <th><input type="checkbox" name="checkbok" checked></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                
                            </tr> 
                            <tr>
                                <th></th>
                                <th></th>
                                <th>Chipping</th>
                                <th></th>
                                <th></th>
                                <th><input type="checkbox" name="checkbok" checked></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                    
                            </tr> 
                            <tr>
                                <th></th>
                                <th></th>
                                <th>Chemical Soaking</th>
                                <th></th>
                                <th></th>
                                <th><input type="checkbox" name="checkbok" checked></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                
                            </tr> 
                            <tr>
                                <th></th>
                                <th></th>
                                <th>Blanching</th>
                                <th></th>
                                <th></th>
                                <th><input type="checkbox" name="checkbok" checked></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                
                            </tr> 
                            <tr>
                                <th></th>
                                <th></th>
                                <th>Syrup Soaking</th>
                                <th></th>
                                <th></th>
                                <th><input type="checkbox" name="checkbok" checked></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                
                            </tr> 
                            <tr>
                                <th></th>
                                <th></th>
                                <th>Drying</th>
                                <th></th>
                                <th></th>
                                <th><input type="checkbox" name="checkbok" checked></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                
                            </tr> 
                            <tr>
                                <th></th>
                                <th></th>
                                <th>Mix With Icing</th>
                                <th></th>
                                <th></th>
                                <th><input type="checkbox" name="checkbok" checked></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                
                            </tr> 
                            <tr>
                                <th></th>
                                <th>Detector</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th><input type="checkbox" name="checkbok" checked></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                
                            </tr> 
                            <tr>
                                <th></th>
                                <th></th>
                                <th>Metal Detector</th>
                                <th></th>
                                <th></th>
                                <th><input type="checkbox" name="checkbok" checked></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr> 
                            <tr>
                                <th>Transport</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th><input type="checkbox" name="checkbok" checked></th>
                                <th></th>
                                <th><input type="checkbox" name="checkbok" checked></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr> 
                            <tr>
                                <th></th>
                                <th>Transport</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr> 
                            <tr>
                                <th></th>
                                <th colspan="2">Ship (Shipping)</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr> 
                            <tr>
                                <th>Consume</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th><input type="checkbox" name="checkbok" checked></th>
                                <th></th>
                            </tr>
                            <tr>
                                <th>Destroy</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                            <tr>
                                <th>Inspect</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th><input type="checkbox" name="checkbok" checked></th>
                            </tr>
                            <tr>
                                <th></th>
                                <th>Review</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                            <tr>
                                <th></th>
                                <th>Audit</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                            <tr>
                                <th>Approve</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th><input type="checkbox" name="checkbok" checked></th>
                            </tr>
                            <tr>
                                <th>Certify</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th><input type="checkbox" name="checkbok" checked></th>
                            </tr>
                    </tbody>
                </table>
            </div>
        </div>
 	</div>
</div>
<script src="/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
<script src="/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>

<script>    
    $(document).ready(function() {
        $('input[type="checkbox"]').attr('disabled',true);
    })
</script>